<app-header></app-header>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="matdrawerstyles">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content >
      <h1>FRONT END DEVELOPER TEST</h1>
        
        <p>
           Click on create user for registration<br>   
           Click on list users to view the list. Pagination is added at bottom but doesn't function properly.<br>
          Click on delete user for deleting user<br>
          Click on update user to update user<br>  
        </p>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<!--<app-footer></app-footer>-->
