
<div id="sidebar">
    <mat-list role="list">
        <mat-list-item role="listitem">
            <a mat-button href="Add" >Create User</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a mat-button href="List" >List Users</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a mat-button href="Delete" >Delete User</a>
        </mat-list-item>
        <mat-list-item role="listitem">
            <a mat-button href="Update" >Update User</a>
        </mat-list-item>
      </mat-list>  

</div>